
:host
{
	--orbit-size: 0px;
	--planet-size: 0px;

	--impulse-distance: 0px;
	--distance-y: 0px;

	--translate-x: 0px;
	--translate-y: 0px;
	--translate-scale: 1;
}

.orbit-info-container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	min-width: 150px;
	min-height:375px;
	text-align: center;

	background: black;
}

.orbit
{
	position:absolute;
	top: calc(50% - var(--orbit-size) / 2);
	right: calc(var(--orbit-size) / -2);
	width: var(--orbit-size);
	height: var(--orbit-size);

	border-radius: 50%;
	background: url('data:image/svg+xml;utf8, \
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"> \
      <circle cx="50" cy="50" r="45" fill="none" stroke="%23505050" stroke-width="0.1" stroke-dasharray="1 1"/> \
    </svg>') no-repeat center/contain;

	z-index: -2;

	transition: opacity 0.5s cubic-bezier(0.32, 0, 0.67, 0);
}

.info-container
{
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;


	width:50px;
	height:100px;

	white-space: nowrap;
}

.top-info-container,
.below-info-container
{
	transition: 1s opacity cubic-bezier(0.33, 1, 0.68, 1),
				1s transform cubic-bezier(0.33, 1, 0.68, 1);
}

.below-info-container
{
	justify-content: space-evenly;
}

.image-orbit-container
{
	width: var(--planet-size);
	height: var(--planet-size);

	display:flex;
	justify-content: center;
	align-items: center;

	border: 1px solid rgba(175, 175, 175, 1);
	border-radius: 100%;

	transition: 0.5s border cubic-bezier(0.32, 0, 0.67, 0),
				0.5s transform cubic-bezier(0.32, 0, 0.67, 0);
}
.image-orbit
{
	width: 100%;
	opacity: 0;
	z-index: 2;

	transition: 0.5s transform cubic-bezier(0.33, 1, 0.68, 1),
	0.5s opacity cubic-bezier(0.33, 1, 0.68, 1);
	transform: translateX(var(--translate-x)) translatey(var(--translate-y)) scale(var(--translate-scale));
}

.image-orbit.show-zoom
{
	transition: transform 3s cubic-bezier(0.22, 1, 0.36, 1) !important;
}

p
{
	letter-spacing: 1.5px;
	font-family: 'Montserrat', sans-serif;
}

.planet-name
{
	font-size:18px;
	color: #aaaaaa;

	transition: 0.5s letter-spacing cubic-bezier(0.33, 1, 0.68, 1);
}

.planet-moons, .planet-distance
{
	font-size: 14px;
	color: #555555;

	transition: 0.5s transform cubic-bezier(0.33, 1, 0.68, 1);
}

.image-orbit-container:hover .image-orbit.image-orbit:not(.clicked) , .image-orbit-container:hover + .info-container .planet-moons
{
	cursor: pointer;
	transform: scale(1.3);
}
.image-orbit-container:hover + .info-container .planet-name
{
	color: white;
	letter-spacing: 10px;
}
.image-orbit-container:hover .image-orbit, .image-orbit.clicked
{
	opacity: 1;
}
.image-orbit-container:hover
{
	border-color: rgba(175, 175, 175, 0.0);
}

.move-and-scale-and-fade-out
{
	border-color: rgba(175, 175, 175, 0);
	transform: translateX(var(--impulse-distance, 0)) scale(0);
}
.border-fade-out
{
	border-color: rgba(175, 175, 175, 0);
}

.move-to-distance-and-fade-out
{
	opacity: 0;
	transform: translateY(var(--distance-y, 0));
}
.opacity-fade-out
{
	opacity: 0;
}

