

.planet-descriptor-container
{
	margin-top:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding:20px;
	padding-bottom: 5vh;
}

.planet-statistics
{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15%;
}

h1 {
	margin: 0;

	text-align: center;
	text-transform: uppercase;

	letter-spacing: 50px;

	font-size: 130px;
	font-family: 'Montserrat', sans-serif;
}

p
{
	font-family: "Roboto Flex", sans-serif;
	letter-spacing: 1.3px;
	line-height: 1.6;
	margin-left:-20px;
	margin-top:40px;
	font-size: 18px;
	align-self: flex-start;
	max-width: 600px;
}


img
{
	position: absolute;
	top:0;
	width: 100%;
	z-index: -1;
}
