<!-- 
<div class="planet-descriptor-container">
	<h1>JUPITER</h1>
	<img src="/assets/image/planets/jupiter.png" alt="Jupiter">
	<p>Jupiter est la cinquième planète du Système solaire par ordre d'éloignement au Soleil, et la plus grande par la taille et la masse devant Saturne, qui est comme elle une planète géante gazeuse</p>
</div>
<div class="planet-statistics">
	<app-planet-statistic />
	<app-planet-statistic />
	<app-planet-statistic />
	<app-planet-statistic />
</div>
 -->

 
<div class="planet-descriptor-container">
	<h1>{{ planet.name }}</h1>
	<img [src]="planet.image" alt="Jupiter">
	<p>{{ planet.description }}</p>
</div>
<div class="planet-statistics">
	<app-planet-statistic />
	<app-planet-statistic />
	<app-planet-statistic />
	<app-planet-statistic />
</div>
