h1 {
	font-family: 'Montserrat', sans-serif;
}

.gradient-title {
	--size: 25px;
	--gradient: #a855f7, #f472b6;

	font-size: var(--size);
	background: linear-gradient(135deg, var(--gradient));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




