.base-container
{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-color: black;

	min-width: 100vw;
	min-height: 100vh;
}

.title-container
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
}
.title-container img
{
	margin-top: -30px;
	width: 100px;
	filter: brightness(5);
}
.title
{
	padding: 15px;
	padding-bottom: 50px;
}

.all-planets-container
{
	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/*min-height: 100vh;*/
	/*min-width: 100vw;*/
	height: 100%;
	width: 100%;
	flex: 1;

	background: black;

	gap:75px;

	position: relative;
	z-index: 0;
}

.planet-orbits-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.sun-container
{
	width: 500px;
	height: 500px;
	max-width: 500px;
	max-height: 500px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid rgba(175, 175, 175, 1);
	border-radius: 100%;
	margin-left:-300px;

	transform: translateX(350px);
	opacity: 1;

	transition: 1s transform ease-in-out,
				1s border ease-in-out;
}

.sun {
	border-radius: 100%;
	width:100%;
}

.move-fade-out
{
	transform: translateX(500px);
	border-color: rgba(175, 175, 175, 0);
}
