/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	/*color: #ffff;*/
	margin:0;
	padding: 0;
}

html {

	margin: 0;
	padding: 0;
	height: 100%;
	width:100%;

	overflow: hidden;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
