
.planet-statistic-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	white-space: nowrap;
}

.statistic-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

.statistic-value {
	font-family: "Outfit", sans-serif;
	font-size: 35px;
	color: #dadada;
}
