
.planet-statistic-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	white-space: nowrap;
}

.statistic-name {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.statistic-value {
	font-family: "Outfit", sans-serif;
	font-size: 40px;
	color: #dddddd;
}
